﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Tablolar</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Sağlıklı Beslenme Tablosu
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Başlık</th>
                                <th>Açıklama</th>
                                <th>Resim</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.ID</td>
                                    <td>@item.baslik</td>
                                    <td>@item.aciklama</td>
                                    <td>@item.resim</td>

                                    <td>@Html.ActionLink("Düzenle", "sagliklibeslenmeedit", "Sagliklibeslenme", new { id = item.ID }, null)|@Html.ActionLink("Sil", "sagliklibeslenmedelete", "Sagliklibeslenme", new { id = item.ID }, null)</td>
                                </tr>

                            }
                            @Html.ActionLink("Ekle", "sagliklibeslenmeAdd", "Sagliklibeslenme")
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>
