﻿@model List<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Rol Tablosu
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <ul>
                        @foreach (var item in Model)
                        {
                            <li>@item.Name-@item.Users.Count</li>
                        }

                    </ul>                   
@Html.ActionLink("Yeni Rol Ekle", "rolekle") ||

@Html.ActionLink("Kullanıcı Ekle", "rolkullaniciekle")


                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>

