﻿@model tartiilebaris.Areas.Admin.Models.roleklemodel
@{
    ViewBag.Title = "rolekle";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("rolekle", "RolYonetimi", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Rol Ekleme</h4>
        <hr />

        <div class="form-group">
           <div class="col-md-10">
                @Html.TextBoxFor(m => m.rolad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.rolad, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-default" />
            </div>
        </div>
    </div>
}
