﻿@model IEnumerable<habersayfa>
@{
    ViewBag.Title = "Cay";
}

<div class="container">
    <div class="row">


        <div class="col-md-9">
            <div class="row carousel-holder">
                <div class="col-md-12">
                    <div class="thumbnail">
                        <div class="caption">
                         
                            @foreach (var item in Model)
                            {
                                <h4 class="baslik">
                                    @item.baslik
                                </h4>
                                <hr />
                                <img src="@item.resim" />
                                <p>

                                    <br /><b>@item.yanbaslik</b>@item.aciklama
                                </p>
                            }

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>