﻿@model IEnumerable<yemek>
@{
    ViewBag.Title = "Diyetyemekleri";
}


<div class="container">
    <div class="row">


        <div class="col-md-9">
            <div class="row carousel-holder">
                <div class="col-md-12">
                    <div class="thumbnail">
                        <div class="caption">
                            @foreach (var item in Model)
                            {
                                <h5 class="baslik2">
                                    @item.baslik
                                </h5>
                                <img class="resim1" src="@item.resim" />
                                <p>
                                    @item.aciklama
                                </p>
                                <hr />
                            }

                        </div>
                    </div>
                </div>
            </div>

        </div>





    </div>
</div>

