﻿@model IEnumerable<habersayfa>
@{
    ViewBag.Title = "Dogalzayiflama";
}

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="row carousel-holder">
                <div class="col-md-12">
                    <div class="thumbnail">
                        <div class="caption">
                            @foreach (var item in Model)
                            {
                                <h4 class="baslik2">
                                    @item.baslik
                                </h4>
                                <img src="@item.resim" />
                                <p>
                                    <br /><b>@item.yanbaslik</b>
                                    <ul>
                                        <li>@item.aciklama</li>
                                    </ul>
                                </p>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
