﻿@model IEnumerable<habersayfa>
@{
    ViewBag.Title = "GKI";
}

<div class="container">
    <div class="row">


        <div class="col-md-9">
            <div class="row carousel-holder">
                <div class="col-md-12">
                    <div class="thumbnail">
                        <div class="caption">
                            @foreach (var item in Model)
                            {
                                <h4 class="baslik2">
                                    @item.baslik
                                </h4>
                                <hr />
                                <div class="col-md-9">
                                    <img src="@item.resim" />
                                </div>
                                <p>@item.aciklama </p>
                            }



                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
