﻿@model IEnumerable<saglilibeslenme>
@{
    ViewBag.Title = "Sagliklibeslenme";
}

<div class="container">
    <div class="row">

        <div class="col-md-9">
            <div class="row carousel-holder">
                <div class="col-md-12">
                    <div class="thumbnail">
                        @foreach (var item in Model)
                        {
                            <div class="caption">

                                <h4 class="baslik">
                                    @item.baslik
                                </h4>
                                <img src="@item.resim" />

                                <p>
                                    @item.aciklama
                                </p>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
