﻿@model IEnumerable<slider>
@{
    ViewBag.Title = "Slider";
}



  <div class="row carousel-holder">
    <div class="col-md-12">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
           
            <div class="carousel-inner">
                <div >
                    <img src="~/images/sliderresim1.png" />
                </div>
            </div>
            
        </div>
    </div>
</div>