﻿@model tartiilebaris.iletisim

@{
    ViewBag.Title = "iletisimAdd";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Yeni Egzersiz Ekle</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Egzersizler
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">

                        @using (Html.BeginForm("addegzersiz", "Egzersiz", FormMethod.Post))
                        {
                            <div class="form-group">
                                @Html.LabelFor(m => m.mail)
                                @Html.TextBoxFor(m => m.mail, new { @class = "form-control" })


                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.yorum)
                                @Html.TextAreaFor(m => m.yorum, new { @class = "form-control" })

                            </div>
                            <button type="submit" class="btn btn-default">Ekle</button>

                        }
                    </div>


                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

