﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.navbar-inverse .navbar-nav > li > a {
    color: #f5f5f5 !important;
}
.navbar-inverse .navbar-brand {
    color: yellow !important;
}
.navrenk{
    background-color: green;
    border-color: white;
}
.baslikayar{
    margin-left: 108px;
}
.yanmenu{
    margin-left: 35px;
}
.haber1{
    margin-top: -10px;
}
.yazirenk{
    color:green;
}
.resim1{
    margin-left: 69px;
}
.resim2{
    margin-left: 161px;
}
.baslik{
    color:green;
    margin-left: 294px;
}
.baslik2{
    color:green;
}
.resim3{
    margin-left: 68px;
}
.dresim1{
    margin-left: 101px;
}
.uyegrs{

}
.uyeol{
    width: 316px !important;
    margin-left: 48px !important;
}
.mhbresim{
    margin-left: 109px;
}
@media (min-width: 992px)
{
.col-md-9 {
    width: 70% !important;
}
}
@media (min-width:224px)
{
.uresim{
    width: 165px;
    margin-top: -14px;
    margin-left: -18px;
}

}
