﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        <h5 class="page-header">Tablolar</h5>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">

                <div class="row">
                   
                    <div class="col-xs-9 text-right">
                        <div class="huge"></div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    @Html.ActionLink("Sağlıklı Beslenme Tablosu", "Index", "Sagliklibeslenme")
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                   
                    <div class="col-xs-9 text-right">
                        <div class="huge"></div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    @Html.ActionLink("Habersayfası Tablosu", "Index", "Habersayfa")
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                   
                    <div class="col-xs-9 text-right">
                        <div class="huge"></div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    @Html.ActionLink("Haberler Tablosu", "Index", "Haberler")
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                  
                    <div class="col-xs-9 text-right">
                        <div class="huge"></div>
                        
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    @Html.ActionLink("Egzersiz Tablosu", "Index", "Egzersiz")
                    
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">

                <div class="row">
                   
                    <div class="col-xs-9 text-right">
                        <div class="huge"></div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    @Html.ActionLink("Diyet Yemekleri Tablosu", "Index", "Yemek")
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">

                    <div class="col-xs-9 text-right">
                        <div class="huge"></div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    @Html.ActionLink("Kullanıcı Tablosu", "Index", "Kullanici")
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">

                    <div class="col-xs-9 text-right">
                        <div class="huge"></div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    @Html.ActionLink("Rol Tablosu", "Index", "RolYonetimi")
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">

                    <div class="col-xs-9 text-right">
                        <div class="huge"></div>

                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    @Html.ActionLink("İletişim Tablosu", "Index", "Iletisim")

                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

</div>
<!-- /.row -->
