﻿@model tartiilebaris.yemek

@{
    ViewBag.Title = "yemekAdd";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Yeni Diyet Yemekleri Ekle</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Haberler
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">

                        @using (Html.BeginForm("addyemek", "Yemek", FormMethod.Post))
                        {
                            <div class="form-group">
                                @Html.LabelFor(m => m.baslik)
                                @Html.TextBoxFor(m => m.baslik, new { @class = "form-control" })

                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.aciklama)
                                @Html.TextBoxFor(m => m.aciklama, new { @class = "form-control" })

                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.resim)
                                @Html.TextBoxFor(m => m.resim, new { @class = "form-control" })

                            </div>

                            <button type="submit" class="btn btn-default">Ekle</button>
                        }
                    </div>


                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

