﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - tartiilebaris</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top navrenk">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                </button>
   <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                <div class="baslikayar">
                    @Html.ActionLink("tartiilebaris.com", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(@tartiilebaris.Resources.lang.Anasayfa, "Index", "Home")</li>
                    <li>@Html.ActionLink(@tartiilebaris.Resources.lang.Saglikli_Beslenme, "Sagliklibeslenme", "Home")</li>
                    <li>@Html.ActionLink(@tartiilebaris.Resources.lang.Diyet_Yemekleri, "Diyetyemekleri", "Home")</li>
                    <li>@Html.ActionLink(@tartiilebaris.Resources.lang.Egzersizler, "Egzersizler", "Home")</li>
                    <li>@Html.ActionLink(@tartiilebaris.Resources.lang.iletisim, "Contact", "Home")</li>
                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="col-md-3">
            <br />
            <div class="list-group">
                @Html.Partial("_LoginPartial")
            </div>
            <hr />
           
            @Html.ActionLink("English", "ChangeCulture", "Home", new { lang = "en", returnurl = this.Request.RawUrl }, null)
            @Html.ActionLink("Türkçe", "ChangeCulture", "Home", new { lang = "tr", returnUrl = this.Request.RawUrl }, null)
            <hr /> 
        </div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year -RagnaUzekmek</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
