﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{

    <div class="list-group">
        <hr />
        @Html.ActionLink(@tartiilebaris.Resources.lang.ol, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
        <hr />
        @Html.ActionLink(@tartiilebaris.Resources.lang.giris, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </div>
}
